body {
    background-color: #c8bf42;
}
h2
{border-style: solid;}

    body {
        background-image: url("https://cdn-images.dzcdn.net/images/cover/7101fde1dc0dd501518992b774f7266d/0x1900-000000-80-0-0.jpg");
        background-repeat: no-repeat;
    }
header{border-style: double;}
li{
    text-decoration: underline;
}
li{
    text-shadow: 2px 2px 5px red;
}
h2{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}