@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&family=Sixtyfour+Convergence&display=swap');

/*
font-family: "Montserrat", sans-serif;
font-family: "Agu Display", serif;
  font-family: "Sixtyfour Convergence", serif;
  font-family: "Playwrite DE Grund", serif;




 */
body {
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/fondoBS.png");
    background-size: cover; /* Asegura que la imagen cubra toda la página */
    background-position: center center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Fija la imagen de fondo al desplazarse */
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #f2f2f2;
    width: 100%;

}

header h1 {
    color: #3154c9;
    margin: 0;
    font-family: "Agu Display", serif;
    font-size: 2.5em;
    text-align: center;
}

#tituloWeb {
    width: 100%;
    padding: 10px;
}

/* Estilo para las imágenes */
#tituloWeb img {
    height: 50px; /* Ajusta la altura de las imágenes */
    width: auto;
    float: left;
}


nav {
    clear: both;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Añadir un margen superior para evitar que el contenido se solape con el header */
body > div {
    margin-top: 120px; /* Altura suficiente para despejar el header */
}






/* Estilos principales */
main {
    padding: 20px;
    background-color: #222;
    float: left;
    width: 65%;
    box-sizing: border-box;
}

main h2 {
    color: #ffd700;
}

main p {
    line-height: 1.6;
}

main img {
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Estilos del aside */
aside {
    width: 30%;
    float: right;
    background-color: #333;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

aside h3 {
    color: #ffd700;
}

aside a img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

aside a img:hover {
    transform: scale(1.1);
}

/* Limpiar floats */
div::after {
    content: "";
    display: table;
    clear: both;
}

/* Estilos del footer */
footer {
    background-color: #0066cc;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffd700;
    text-decoration: none;
}

footer a img {
    width: 30px;
    margin: 0 5px;
    vertical-align: middle;
}

footer a img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}
