
main {
    font-family: Arial, sans-serif;
    color: #010003;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
}

#lista, #videosListas {
    width: 50%;
    margin-left: 25%;
}


h2 {
    text-align: center;
    font-size: 2rem;
    color: #08efc5;
    border-bottom: 2px solid #08efc5;
    padding-bottom: 5px;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
}

/* Listas */
ol {
    margin-left: 20px;
    padding-left: 20px;
    list-style: decimal;
}

ul {
    margin-left: 20px;
    padding-left: 20px;
    list-style: disc;
}

li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

/* Enlaces */
main a {
    text-decoration: none;
    color: #3182ce;
    font-weight: bold;
}

main a:hover {
    color: #63b3ed;
    text-decoration: underline;
}








/* Párrafos */
p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #010003;
}

#videosListas {
    margin-top: 30px;
}

#mainVideos {
    font-size: 2rem;
    color: #08efc5;
    text-align: center;
    margin-bottom: 30px;
}

/* Estilo de los vídeos */
iframe {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 100%;

}





a[href="#arriba"] {
    display: block; /* Convierte el enlace en un bloque para ocupar el ancho completo */
    text-align: center; /* Centra el texto dentro del bloque */
    background-color: #007BFF; /* Fondo azul */
    color: white; /* Texto blanco */
    text-decoration: none; /* Quita el subrayado */
    font-size: 18px; /* Aumenta el tamaño de fuente */
    font-weight: bold; /* Resalta el texto */
    padding: 12px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

a[href="#arriba"]:hover {
    background-color: #ffffff; /* Cambia a un azul más oscuro al pasar el ratón */
    transform: scale(1.05); /* Hace un pequeño aumento en tamaño */
}


